<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127869 Current Teams
    </h2>
  </div>
  {{#each teams as |team|}}
  <div class="team col-md-4">
    <p>
      {{team.id}}.
      {{team.team_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      player:
      {{team.username}}
    </p>
  </div>
  {{!-- <div class="col-md-3">
    🥜: {{#if team.has_nuts}} Contains nuts {{else}} No nuts {{/if}}
  </div> --}}
  {{/each}}
  <!-- This is the form for adding a new team -->
  <div class="add-team-container">
    <h2>
      RSVP with the team you plan to bring!
    </h2>
    <form class="new-team-form">
      <label for="team_name">
        team Name:
      </label>
      <br />
      <textarea id="team_name" name="team_color" rows="2" cols="30">
      {{team_name}}
    </textarea>
      <br />
      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <label for="guest_name">
        Guest Name:
      </label>
      <br />
      <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
      <br />
      <br />
      {{#if has_nuts}}
      <input type="checkbox" id="has_nuts" name="has_nuts" checked />
      {{else}}
      <input type="checkbox" id="has_nuts" name="has_nuts" />
      {{/if}}
      <label for="has_nuts">
        Check box if this team contains nuts
      </label>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/js/add-team.js"></script>
